<header>
  <h1 class="h2">Customer search</h1>
</header>
<section class="search-form">
  <%= form_for :customers, method: :get do |f| %>
  <div class="input-group input-group-lg">
    <%= label_tag :keywords, nil, class: 'sr-only' %>
    <%= text_field_tag :keywords, nil, placeholder: 'First name, Last name, or Email Address',
                       class: 'form-control input-lg'%>
    <span class="input-group-btn">
      <%= submit_tag 'Find Customers', class: 'btn btn-lg btn-primary' %>
    </span>
  </div>
  <% end %>

</section>
<section class="search-result">
  <header>
    <h1 class="h3">Results</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th><%= customer.first_name %></th>
          <th><%= customer.last_name %></th>
          <th><%= customer.email %></th>
          <th><%= l customer.created_at.to_date %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </header>
</section>